aioice
aiortc
av
bidict
blinker
cffi
click
colorama
cryptography
dnspython
dotenv
Flask
Flask-SocketIO
google-crc32c
h11
ifaddr
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-python
pillow
pycparser
pyee
pylibsrtp
pyOpenSSL
python-dotenv
python-engineio
python-socketio
pyvirtualcam
qrcode
simple-websocket
typing_extensions
Werkzeug
wsproto
