<html>
    <head>
        <title>Camera Web App</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    </head>
    <body>
        <div>
            <button id="startBtn">Start</button>

            <div>
                <label class="toggle-switch">
                    <input type="checkbox" id="showFPS">
                    <span class="slider"></span>
                </label>
                <label for="showFPS">Show FPS?</label>

                <label class="toggle-switch">
                    <input type="checkbox" id="showBattery">
                    <span class="slider"></span>
                </label>
                <label for="showBattery">Show Battery %?</label>
            </div>
        </div>
        <div id="remote-feed"></div>
        <script type="module" src="{{ url_for('static', filename='js/client.js') }}"></script>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
    <script>eruda.init();</script>
</html>